vs068_pb/__pycache__/
vs068_pb/motion/__pycache__/
vs068_pb.egg-info/
*.pyc
**/*.pyc
**/**/*.pyc
**/**/**/*.pyc

vs068_pb/motion/__pycache__/__init__.cpython-37.pyc
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
vs068_pb/motion/__pycache__/
resources/ghpython_log.txt
resources/dissassembly_log.txt
resources/pickles/assembly_tree.pickle
resources/pickles/assembly.pickle
